@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #dbdbdb;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

#page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fdfdfd;
  text-align: left;
  width: 700px;
  min-height: 900px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0 black;
  user-select: none;
}

#page input {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  padding: 3px;
  width: 180px;
  border: none;
  margin: 5px;
  border-radius: 3px;
}

#page input:focus {
  outline: none;
  box-shadow: 0 0 0 1px black;
}

.input-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.label {
  font-size: 13px;
  margin: 0 0 2px 0;
}

#general {
  background-color: #b0d9ff;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#profile-photo {
  width: 140px;
  height: 140px;
}

.print-btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  background-color: #b0d9ff;
  border: none;
  width: 180px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  align-self: center;
  justify-self: center;
  box-shadow: 2px 2px 4px 0 black;
  transition: all 0.2s;
}

.print-btn:hover {
  background-color: #2586e0;
  color: white;
}

.print-btn:active {
  box-shadow: 1px 1px 2px 0 black;
}

.container {
  padding: 5px;
  text-align: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.text {
  font-size: 18px;
  margin: 3px;
}

.text-with-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-big {
  font-size: 28px;
  font-weight: bold;
  margin: 3px;
}

.text-small {
  font-size: 14px;
  margin: 3px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  background-color: #fdfdfd;
  width: 700px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0 black;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.inline {
  display: inline;
}
